body {
  position: relative;

  background: radial-gradient(
    88.65% 88.65% at 50% 11.35%,
    #715e5e 0%,
    rgba(113, 94, 94, 0.26) 100%
  );
}


.hero-pics {
  border-radius: 60px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

@media (min-width: 640px) { 
  .hero {
  border-radius: 76px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
 }

 @media (max-width: 764px) { 
  .hero {
  
  border-radius: 106px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
 }

 @media (max-width: 1024px) { 
 .hero {
  border-radius: 167px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
 }


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
